# Import Data from CSV

In [114]:
import pandas as pd

products_raw_df = pd.read_csv("data/Products_raw.csv", delimiter=";")
print(products_raw_df.values)

[['SKU-1001' ' shoes ' '799' 'SEK' '2024-01-10']
 ['SKU-1002' 'pants' '520' 'SEK' '2024/02/15']
 ['SKU-1003' 'shirts' '450' 'SEK' nan]
 [nan 'jacket' '-200' ' SEK ' '2024-13-01']
 ['SKU-1005' nan nan nan ' ']
 ['SKU-1006' 'designer coat' nan 'SEK' '2024-05-01']
 [nan 'hat' 'free' 'SEK' nan]
 ['SKU-1008' ' gloves ' '120' nan '2024-06-20']
 ['SKU-1009' 'socks' '99' 'SEK' '2024-02-01']
 ['SKU-1010' 'boots' '1500' 'SEK' '2024-02-15']
 ['SKU-1011' 'scarf' '200' 'SEK' '2024-03-01']
 ['SKU-1012' 'belt' '300' 'SEK' '2024/03/10']
 ['SKU-1013' 'cap' '75' 'SEK' '2024-04-01']
 ['SKU-1014' 't-shirt' '0' 'SEK' '2024-04-10']
 ['SKU-1015' 'hoodie' '-50' 'SEK' '2024-04-15']
 ['SKU-1016' 'coat' '2500' 'SEK' '2024-05-01']
 ['SKU-1017' 'jeans' '800' 'SEK' '2024-05-05']
 ['SKU-1018' 'sneakers' '1200' 'SEK' '2024-05-10']
 ['SKU-1019' 'sandals' '400' 'SEK' '2024-05-15']
 ['SKU-1020' 'watch' '15000' 'SEK' '2024-06-01']
 ['SKU-1021' 'ring' '25000' 'SEK' '2024-06-05']
 ['SKU-1022' 'bracelet' '500' 'SEK' '2024-06-10']
 ['SKU-1023' ' necklace ' '650' 'SEK' '2024-06-15']
 ['SKU-1024' 'sunglasses' '900' 'SEK' '2024-07-01']
 ['SKU-1025' 'backpack' '1100' 'SEK' '2024-07-05']
 ['SKU-1026' 'umbrella' '300' 'SEK' '2024-07-10']
 ['SKU-1027' ' winter jacket ' '3500' 'SEK' '2024-07-15']
 ['SKU-1028' 'shorts' '450' 'SEK' '2024-08-01']
 ['SKU-1029' 'skirt' '500' 'SEK' '2024-08-05']
 ['SKU-1030' 'gloves' '200' 'SEK' '2024-08-10']
 ['SKU-1031' 'mittens' '220' 'SEK' '2024-08-15']
 ['SKU-1032' 'suit' '5000' 'SEK' '2024-09-01']
 ['SKU-1033' 'tie' '150' 'SEK' '2024-09-05']
 ['SKU-1034' 'blazer' '2200' 'SEK' '2024-09-10']
 ['SKU-1035' 'polo' '600' 'SEK' '2024-09-15']
 ['SKU-1036' 'leggings' '350' 'SEK' '2024-10-01']
 ['SKU-1037' 'tracksuit' '1200' 'SEK' '2024-10-05']
 ['SKU-1038' 'swimsuit' '700' 'SEK' '2024-10-10']
 ['SKU-1039' 'coat' '999999' 'SEK' '2024-10-15']
 ['SKU-1040' 'parka' '4500' 'SEK' '2024-11-01']
 ['SKU-1041' 'beanie' '180' 'SEK' '2024-11-05']
 ['SKU-1042' 'earmuffs' '130' 'SEK' '2024-11-10']
 ['SKU-1043' 'cardigan' nan 'SEK' '2024-11-15']
 ['SKU-1044' 'vest' '800' 'SEK' '2024-12-01']
 ['SKU-1045' 'loafers' '1100' 'SEK' '2024-12-05']
 ['SKU-1046' ' sneakers ' '1000' 'SEK' '2024-12-10']
 ['SKU-1047' 'heels' '1500' 'SEK' '2024-12-15']
 ['SKU-1048' 'flipflops' '100' 'SEK' '2024-12-20']
 ['SKU-1049' 'robe' '900' 'SEK' '2024-12-25']
 ['SKU-1050' 'pyjamas' '600' 'SEK' '2025-01-01']
 ['SKU-1051' 'suspenders' '250' 'SEK' '2025-01-05']
 ['SKU-1052' 'coat' 'not_available' 'SEK' '2025-01-10']
 ['SKU-1053' 'cap' '85' 'SEK' '2025-01-15']
 ['SKU-1054' nan '450' 'SEK' '2025-02-01']
 ['SKU-1055' 'scarf' '300' nan '2025-02-05']]

# String cleaning
- Strip whitespaces
- Replace 2 or mor whitespaces whith 1 space
- Change to Upper, Lower or Title
- Date: Replace / with -
- Price: Remove "kr" och "sek"

In [102]:
products_df = products_raw_df.copy()

# Sting cleaning
products_df["id"] = (
    products_df["id"]
    .str.strip()
    .str.replace(r'\s{2,}', ' ', regex=True)
    .str.replace(" ", "")
    .str.upper()
)

products_df["name"] = (
    products_df["name"]
    .str.strip()
    .str.title()
    .str.replace(r'\s{2,}', ' ', regex=True)
)

products_df["price"] = (
    products_df["price"]
    .str.strip()
    .str.lower()
    .str.replace(r'\s{2,}', ' ', regex=True)
    .str.replace(" ", "")
    .str.replace("kr", "")
    .str.replace("sek", "")
)

products_df["currency"] = (
    products_df["currency"]
    .str.strip()
    .str.replace(r'\s{2,}', ' ', regex=True)
    .str.replace(" ", "")
    .str.upper()
)

products_df["created_at"] = (
    products_df["created_at"]
    .str.strip()
    .str.replace("/", "-")
)

products_df["price"] = pd.to_numeric(products_df["price"], errors="coerce")
products_df["created_at"] = pd.to_datetime(products_df["created_at"], errors="coerce")

print(products_df.values)

[['SKU-1001' 'Shoes' 799.0 'SEK' Timestamp('2024-01-10 00:00:00')]
 ['SKU-1002' 'Pants' 520.0 'SEK' Timestamp('2024-02-15 00:00:00')]
 ['SKU-1003' 'Shirts' 450.0 'SEK' NaT]
 [nan 'Jacket' -200.0 'SEK' NaT]
 ['SKU-1005' nan nan nan NaT]
 ['SKU-1006' 'Designer Coat' nan 'SEK' Timestamp('2024-05-01 00:00:00')]
 [nan 'Hat' nan 'SEK' NaT]
 ['SKU-1008' 'Gloves' 120.0 nan Timestamp('2024-06-20 00:00:00')]
 ['SKU-1009' 'Socks' 99.0 'SEK' Timestamp('2024-02-01 00:00:00')]
 ['SKU-1010' 'Boots' 1500.0 'SEK' Timestamp('2024-02-15 00:00:00')]
 ['SKU-1011' 'Scarf' 200.0 'SEK' Timestamp('2024-03-01 00:00:00')]
 ['SKU-1012' 'Belt' 300.0 'SEK' Timestamp('2024-03-10 00:00:00')]
 ['SKU-1013' 'Cap' 75.0 'SEK' Timestamp('2024-04-01 00:00:00')]
 ['SKU-1014' 'T-Shirt' 0.0 'SEK' Timestamp('2024-04-10 00:00:00')]
 ['SKU-1015' 'Hoodie' -50.0 'SEK' Timestamp('2024-04-15 00:00:00')]
 ['SKU-1016' 'Coat' 2500.0 'SEK' Timestamp('2024-05-01 00:00:00')]
 ['SKU-1017' 'Jeans' 800.0 'SEK' Timestamp('2024-05-05 00:00:00')]
 ['SKU-1018' 'Sneakers' 1200.0 'SEK' Timestamp('2024-05-10 00:00:00')]
 ['SKU-1019' 'Sandals' 400.0 'SEK' Timestamp('2024-05-15 00:00:00')]
 ['SKU-1020' 'Watch' 15000.0 'SEK' Timestamp('2024-06-01 00:00:00')]
 ['SKU-1021' 'Ring' 25000.0 'SEK' Timestamp('2024-06-05 00:00:00')]
 ['SKU-1022' 'Bracelet' 500.0 'SEK' Timestamp('2024-06-10 00:00:00')]
 ['SKU-1023' 'Necklace' 650.0 'SEK' Timestamp('2024-06-15 00:00:00')]
 ['SKU-1024' 'Sunglasses' 900.0 'SEK' Timestamp('2024-07-01 00:00:00')]
 ['SKU-1025' 'Backpack' 1100.0 'SEK' Timestamp('2024-07-05 00:00:00')]
 ['SKU-1026' 'Umbrella' 300.0 'SEK' Timestamp('2024-07-10 00:00:00')]
 ['SKU-1027' 'Winter Jacket' 3500.0 'SEK'
  Timestamp('2024-07-15 00:00:00')]
 ['SKU-1028' 'Shorts' 450.0 'SEK' Timestamp('2024-08-01 00:00:00')]
 ['SKU-1029' 'Skirt' 500.0 'SEK' Timestamp('2024-08-05 00:00:00')]
 ['SKU-1030' 'Gloves' 200.0 'SEK' Timestamp('2024-08-10 00:00:00')]
 ['SKU-1031' 'Mittens' 220.0 'SEK' Timestamp('2024-08-15 00:00:00')]
 ['SKU-1032' 'Suit' 5000.0 'SEK' Timestamp('2024-09-01 00:00:00')]
 ['SKU-1033' 'Tie' 150.0 'SEK' Timestamp('2024-09-05 00:00:00')]
 ['SKU-1034' 'Blazer' 2200.0 'SEK' Timestamp('2024-09-10 00:00:00')]
 ['SKU-1035' 'Polo' 600.0 'SEK' Timestamp('2024-09-15 00:00:00')]
 ['SKU-1036' 'Leggings' 350.0 'SEK' Timestamp('2024-10-01 00:00:00')]
 ['SKU-1037' 'Tracksuit' 1200.0 'SEK' Timestamp('2024-10-05 00:00:00')]
 ['SKU-1038' 'Swimsuit' 700.0 'SEK' Timestamp('2024-10-10 00:00:00')]
 ['SKU-1039' 'Coat' 999999.0 'SEK' Timestamp('2024-10-15 00:00:00')]
 ['SKU-1040' 'Parka' 4500.0 'SEK' Timestamp('2024-11-01 00:00:00')]
 ['SKU-1041' 'Beanie' 180.0 'SEK' Timestamp('2024-11-05 00:00:00')]
 ['SKU-1042' 'Earmuffs' 130.0 'SEK' Timestamp('2024-11-10 00:00:00')]
 ['SKU-1043' 'Cardigan' nan 'SEK' Timestamp('2024-11-15 00:00:00')]
 ['SKU-1044' 'Vest' 800.0 'SEK' Timestamp('2024-12-01 00:00:00')]
 ['SKU-1045' 'Loafers' 1100.0 'SEK' Timestamp('2024-12-05 00:00:00')]
 ['SKU-1046' 'Sneakers' 1000.0 'SEK' Timestamp('2024-12-10 00:00:00')]
 ['SKU-1047' 'Heels' 1500.0 'SEK' Timestamp('2024-12-15 00:00:00')]
 ['SKU-1048' 'Flipflops' 100.0 'SEK' Timestamp('2024-12-20 00:00:00')]
 ['SKU-1049' 'Robe' 900.0 'SEK' Timestamp('2024-12-25 00:00:00')]
 ['SKU-1050' 'Pyjamas' 600.0 'SEK' Timestamp('2025-01-01 00:00:00')]
 ['SKU-1051' 'Suspenders' 250.0 'SEK' Timestamp('2025-01-05 00:00:00')]
 ['SKU-1052' 'Coat' nan 'SEK' Timestamp('2025-01-10 00:00:00')]
 ['SKU-1053' 'Cap' 85.0 'SEK' Timestamp('2025-01-15 00:00:00')]
 ['SKU-1054' nan 450.0 'SEK' Timestamp('2025-02-01 00:00:00')]
 ['SKU-1055' 'Scarf' 300.0 nan Timestamp('2025-02-05 00:00:00')]]

# Flagging
- Insert colomuns for both rejection conditions and flagging conditions

In [ ]:
products_df["missing_id"] = products_df["id"].isna()
products_df["missing_name"] = products_df["name"].isna()
products_df["missing_price"] = products_df["price"].isna()
products_df["negative price"] = products_df["price"] < 0
products_df["to_low_price"] = products_df["price"].between(0,5)
products_df["to_high_price"] = products_df["price"] >= 10000
products_df["missing_currency"] = products_df["currency"].isna()
products_df["missing_create_date"] = products_df["created_at"].isna()

products_df.head()

,id,name,price,currency,created_at,missing_id,missing_name,missing_price,negative price,to_low_price,to_high_price,missing_currency,missing_create_date
0,SKU-1001,Shoes,799.0,SEK,2024-01-10,False,False,False,False,False,False,False,False
1,SKU-1002,Pants,520.0,SEK,2024-02-15,False,False,False,False,False,False,False,False
2,SKU-1003,Shirts,450.0,SEK,NaT,False,False,False,False,False,False,False,True
3,NaN,Jacket,-200.0,SEK,NaT,True,False,False,True,False,False,False,True
4,SKU-1005,NaN,NaN,NaN,NaT,False,True,True,False,False,False,True,True

# Reject
- Setup reject conditions
- Create new dataframe (rejected_df) with rejected and cause to why the are rejected
- Create new dataframe (validated_df) without rejected and flagg the items och needs clarification
- Remove support columns

In [104]:
rejects_condition = (
    (products_df["missing_id"] == True)|
    (products_df["missing_price"] == True)|
    (products_df["negative price"] == True)|
    (products_df["missing_currency"] == True)
)

# Rejected data
rejected_df = products_df[rejects_condition].copy()

rejected_df["reject_code"] = ""
rejected_df["reject_reason"] = ""

rejected_df.loc[rejected_df["missing_id"] == True, "reject_reason"] = "Missing ID"
rejected_df.loc[rejected_df["missing_id"] == True, "reject_code"] = "31"
rejected_df.loc[rejected_df["missing_currency"] == True, "reject_reason"] = "Missing currency"
rejected_df.loc[rejected_df["missing_currency"] == True, "reject_code"] = "32"
rejected_df.loc[rejected_df["negative price"] == True, "reject_reason"] = "Price is negative"
rejected_df.loc[rejected_df["negative price"] == True, "reject_code"] = "33"
rejected_df.loc[rejected_df["missing_price"] == True, "reject_reason"] = "Missing price"
rejected_df.loc[rejected_df["missing_price"] == True, "reject_code"] = "34"

# Validated data
validated_df = products_df[~rejects_condition].copy()

validated_df["status_code"] = "10"
validated_df["status_reason"] = "Validated"

validated_df.loc[validated_df["missing_name"] == True, "status_code"] = "21"
validated_df.loc[validated_df["missing_name"] == True, "status_reason"] = "Flagged: Missing name"
validated_df.loc[validated_df["missing_create_date"] == True, "status_code"] = "22"
validated_df.loc[validated_df["missing_create_date"] == True, "status_reason"] = "Flagged: Missing Create-date"
validated_df.loc[validated_df["to_high_price"] == True, "status_code"] = "23"
validated_df.loc[validated_df["to_high_price"] == True, "status_reason"] = "Flagged: Price over 10_000"
validated_df.loc[validated_df["to_low_price"] == True, "status_code"] = "24"
validated_df.loc[validated_df["to_low_price"] == True, "status_reason"] = "Flagged: Price under 6"

cols_to_remove = [
    "missing_id", "missing_name", "missing_price", 
    "negative price", "to_low_price",
    "to_high_price", "missing_currency",
    "missing_create_date"
]

validated_df = validated_df.drop(columns=cols_to_remove)
rejected_df = rejected_df.drop(columns=cols_to_remove)

validated_df.head()

,id,name,price,currency,created_at,status_code,status_reason
0,SKU-1001,Shoes,799.0,SEK,2024-01-10,10,Validated
1,SKU-1002,Pants,520.0,SEK,2024-02-15,10,Validated
2,SKU-1003,Shirts,450.0,SEK,NaT,22,Flagged: Missing Create-date
8,SKU-1009,Socks,99.0,SEK,2024-02-01,10,Validated
9,SKU-1010,Boots,1500.0,SEK,2024-02-15,10,Validated

In [105]:
rejected_df.head()

,id,name,price,currency,created_at,reject_code,reject_reason
3,NaN,Jacket,-200.0,SEK,NaT,33,Price is negative
4,SKU-1005,NaN,NaN,NaN,NaT,34,Missing price
5,SKU-1006,Designer Coat,NaN,SEK,2024-05-01,34,Missing price
6,NaN,Hat,NaN,SEK,NaT,34,Missing price
7,SKU-1008,Gloves,120.0,NaN,2024-06-20,32,Missing currency

# analytics_summary_df
- Using mean, median and count to get the statistics
- To show the differens I used both flagged and unflagged data

In [107]:
product_mean = validated_df.query("status_code == '10'")["price"].mean().round(2)
product_mean_fl = validated_df["price"].mean().round(2)
product_median = validated_df.query("status_code == '10'")["price"].median().round(2)
product_median_fl = validated_df["price"].median().round(2)
product_count = validated_df.query("status_code == '10'")["status_code"].count()
product_count_fl = validated_df["status_code"].count()
price_missing = rejected_df.query("reject_code == '34'")["reject_code"].count()

analytics_summary_df = pd.DataFrame(
    {
        "snittpris": [product_mean],
        "snittpris_fl": [product_mean_fl],
        "medianpris": [product_median],
        "medianpris_fl": [product_median_fl],
        "antal_produkter":[product_count],
        "antal_produkter_fl":[product_count_fl],
        "saknar_pris":[price_missing]
    }
)

analytics_summary_df

,snittpris,snittpris_fl,medianpris,medianpris_fl,antal_produkter,antal_produkter_fl,saknar_pris
0,951.45,23455.59,600.0,600.0,40,46,5

# price_analysis_df
- Used rank to sort highest value item
- Did a calulation between median and price to get difference
- Used abs to ge both low and high price difference
- Used rank to sort high difference item
- Used query to just get the item who was ranking from 1-10

In [109]:
price_analysis_df = validated_df.copy()

dev_median = price_analysis_df["price"].median()
price_analysis_df["diff"] = abs(price_analysis_df["price"] - dev_median)
price_analysis_df["diff_rank"] = price_analysis_df["diff"].rank(ascending=False)
price_analysis_df["highest_price"] = price_analysis_df["price"].rank(ascending=False)

price_analysis_df.query("diff_rank <= 10 or highest_price <= 10").sort_values("price", ascending=False)

,id,name,price,currency,created_at,status_code,status_reason,diff,diff_rank,highest_price
38,SKU-1039,Coat,999999.0,SEK,2024-10-15,23,Flagged: Price over 10_000,999399.0,1.0,1.0
20,SKU-1021,Ring,25000.0,SEK,2024-06-05,23,Flagged: Price over 10_000,24400.0,2.0,2.0
19,SKU-1020,Watch,15000.0,SEK,2024-06-01,23,Flagged: Price over 10_000,14400.0,3.0,3.0
31,SKU-1032,Suit,5000.0,SEK,2024-09-01,10,Validated,4400.0,4.0,4.0
39,SKU-1040,Parka,4500.0,SEK,2024-11-01,10,Validated,3900.0,5.0,5.0
26,SKU-1027,Winter Jacket,3500.0,SEK,2024-07-15,10,Validated,2900.0,6.0,6.0
15,SKU-1016,Coat,2500.0,SEK,2024-05-01,10,Validated,1900.0,7.0,7.0
33,SKU-1034,Blazer,2200.0,SEK,2024-09-10,10,Validated,1600.0,8.0,8.0
9,SKU-1010,Boots,1500.0,SEK,2024-02-15,10,Validated,900.0,9.5,9.5
46,SKU-1047,Heels,1500.0,SEK,2024-12-15,10,Validated,900.0,9.5,9.5

In [110]:
rejected_df

,id,name,price,currency,created_at,reject_code,reject_reason
3,NaN,Jacket,-200.0,SEK,NaT,33,Price is negative
4,SKU-1005,NaN,NaN,NaN,NaT,34,Missing price
5,SKU-1006,Designer Coat,NaN,SEK,2024-05-01,34,Missing price
6,NaN,Hat,NaN,SEK,NaT,34,Missing price
7,SKU-1008,Gloves,120.0,NaN,2024-06-20,32,Missing currency
14,SKU-1015,Hoodie,-50.0,SEK,2024-04-15,33,Price is negative
42,SKU-1043,Cardigan,NaN,SEK,2024-11-15,34,Missing price
51,SKU-1052,Coat,NaN,SEK,2025-01-10,34,Missing price
54,SKU-1055,Scarf,300.0,NaN,2025-02-05,32,Missing currency